li{
    display: inline-block;
    width: 50px;
    /* height: 50px; */
    background-color: red;
    border-radius: 100px;
    text-align: center;
    padding-block: 15px;
    margin-block-end: 100px;  space items 
}

/* a{
    text-decoration: none;
    display: inline-flex;
    background color: red;
    color: fff;
    padding: 50px   
} */

a:hover{
    text-decoration: underline double yellow 20px;
}


div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

h2{
    background-color: fuchsia;
}